$brand-primary:         #1867c9;
$brand-success:         #6bae66;
$brand-info:            #608ec2;
$brand-warning:         #ff9c28;
$brand-danger:          #ea6654;
$btn-success-border: transparent;
$btn-info-border: transparent;
$btn-warning-border: transparent;
$btn-danger-border: transparent;
$border-radius-base: 2px !default;
$container-tablet:auto;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

.avatar
{
	max-width: 200px;
	max-height:200px;

}
.footer,
{
	background: $brand-primary;
	color:white;
	padding:50px 0;
	margin-top: 50px;

}
.navbar-default .navbar-brand
{
	color:$brand-primary;
}
